*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'GameOfSquids';
  src: url('../fonts/GameOfSquids-1GMVL.ttf') format('truetype');
}



.controls-button, .slide-side-text, .slide-content-cta {
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.12rem;
  font-size: 0.7rem;
  line-height: 1;
}

[v-cloak] {
  opacity: 0;
}



.wrapper {
  height: calc(50vh);

  position: relative;
}


.slide-wrapper {
  background-size: cover;
  height: 100%;
  background-position: center center;
  position: absolute;
  width: 20%;
  background-blend-mode: darken;
  margin-left: 20px;
}
.slide-wrapper:nth-child(1) {
  background-color: rgba(115, 129, 153, 0.4);
}
.slide-wrapper:nth-child(1):before {
  background-color: rgba(115, 129, 153, 0.25);
}
.slide-wrapper:nth-child(1) .slide-content-text {
  text-shadow: 2px 5px 45px rgba(85, 96, 113, 0.25);
}
.slide-wrapper:nth-child(2) {
  background-color: rgba(144, 171, 184, 0.7);
}
.slide-wrapper:nth-child(2):before {
  background-color: rgba(144, 171, 184, 0.3);
}
.slide-wrapper:nth-child(2) .slide-content-text {
  text-shadow: 2px 5px 45px rgba(121, 142, 152, 0.2);
}
.slide-wrapper:nth-child(3) {
  background-color: rgba(86, 125, 156, 0.5);
}
.slide-wrapper:nth-child(3):before {
  background-color: rgba(86, 125, 156, 0.2);
}
.slide-wrapper:nth-child(3) .slide-content-text {
  text-shadow: 2px 5px 55px rgba(57, 83, 103, 0.4);
}
.slide-wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slide-inner {
  position: relative;
  z-index: 2;
  height: 100%;
  overflow: hidden;
}

/***design**/
.slide-bg-text {
  font-family: 'GameOfSquids', sans-serif;
  color: #000;
  font-size: 10px;
  opacity: 0.03;
  font-weight: 900;
  margin-top: -4rem;
  position: absolute;
  top: 50%;
  left: 5vw;
  transform: translateY(-50%);
}
.slide-bg-text > p:last-child {
  padding-left: 4rem;
}
.slide-content {
  color: #fff;
  margin-top: 5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.slide-content-text {
  font-family: 'GameOfSquids', sans-serif;
  font-size: 15px;
  letter-spacing: 0.2rem;
  margin-left: 80px;
  margin-top: -50px;
  line-height: 0.87;
  font-weight: 700;
  will-change: auto;
}
.slide-content-text > p:last-child {
  padding-left: 3rem;
}
.slide-content-cta {
  cursor: pointer;
  align-self: flex-start;
  margin-top: 4.5rem;
  margin-left: 90px;
  padding: 0.9rem 1.2rem;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transition: 0.18s ease-in-out;
  font-weight: 700;
}
.slide-content-cta:hover {
  color: #000;
  background-color: #fff;
}
.slide-side-text {
  font-family: 'GameOfSquids', sans-serif;
  position: absolute;
  margin-left: 20px;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      margin-top: 80px;
}
.slide-side-text > span:first-child {
  font-weight: 700;
}
.slide-side-text:after {
  content: "";
  width: 1px;
  background-color: #fff;
  height: 40px;
  display: block;
  position: absolute;
  top: calc(100% + 25px);
  left: 50%;
  transform: translateX(-50%);
}

.controls-container {
  position: absolute;
  height: 100%;
  z-index: 200;
  margin-left: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 630px) {
  .controls-container {
    display: none;
  }
}
.controls-button {
  cursor: pointer;
  background-color: rgba(208, 206, 204, 0.32);
  border: 0;
  padding: 1.6rem 2.2rem;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 15rem;
  transition: 0.25s ease-in-out;
  outline: 0;
}
@media (max-width: 730px) {
  .controls-button {
    padding: 1.2rem 1.4rem;
    min-width: 13rem;
  }
}
.controls-button:not(.active):hover {
  color: #000;
  background-color: #fff;
}
.controls-button.active {
  cursor: default;
  font-weight: 700;
  background-color: #3b3e45;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  margin-bottom: -0.3rem;
  position: relative;
}
@media (max-width: 730px) {
  .controls-button.active {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    margin-bottom: -0.15rem;
  }
}
.controls-button.active:after {
  content: "";
  background-color: #e3e3e3;
  height: 5px;
  width: calc(100% - 8px);
  position: absolute;
  top: 100%;
  left: 4px;
}
.controls-button:not(.active) + .controls-button {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination-container {
  position: absolute;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 920px) {
  .pagination-container {
    display: none;
  }
}
.pagination-item {
  width: 30px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.18s ease-in-out;
}
.pagination-item + .pagination-item {
  margin-top: 1rem;
}
.pagination-item.active {
  background-color: #fff;
  position: relative;
  transform: translateX(-0.6rem);
  width: 35px;
}
.pagination-item.active:after {
  content: "";
  height: 4px;
  width: 2px;
  border-radius: 35%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(0.6rem) translateY(-50%);
}
.pagination-item:not(.active) {
  cursor: pointer;
}
.pagination-item:not(.active):hover {
  background-color: #fff;
  width: 35px;
}

@-webkit-keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes cutTextUp {
  from {
    -webkit-clip-path: inset(0 0 -10% 0);
            clip-path: inset(0 0 -10% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
}
@keyframes cutTextUp {
  from {
    -webkit-clip-path: inset(0 0 -10% 0);
            clip-path: inset(0 0 -10% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
}
@-webkit-keyframes cutTextDown {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(-10% 0 -20% 0);
            clip-path: inset(-10% 0 -20% 0);
    opacity: 1;
  }
}
@keyframes cutTextDown {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(-10% 0 -20% 0);
            clip-path: inset(-10% 0 -20% 0);
    opacity: 1;
  }
}
@-webkit-keyframes cutTextDownFromTop {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 -30% 0);
            clip-path: inset(0 0 -30% 0);
    opacity: 1;
  }
}
@keyframes cutTextDownFromTop {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 -30% 0);
            clip-path: inset(0 0 -30% 0);
    opacity: 1;
  }
}
@-webkit-keyframes rectMovement {
  0% {
    transform: translateX(0) rotate(0) translateY(-50%);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
    opacity: 0;
  }
}
@keyframes rectMovement {
  0% {
    transform: translateX(0) rotate(0) translateY(-50%);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
    opacity: 0;
  }
}
@media (max-height: 730px) {
  @-webkit-keyframes rectMovement {
    0% {
      transform: translateX(0) rotate(0) translateY(-30%);
    }
    60% {
      opacity: 1;
    }
    100% {
      transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
      opacity: 0;
    }
  }
  @keyframes rectMovement {
    0% {
      transform: translateX(0) rotate(0) translateY(-30%);
    }
    60% {
      opacity: 1;
    }
    100% {
      transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
      opacity: 0;
    }
  }
}
@-webkit-keyframes rectMovementFromRight {
  0% {
    transform: translateX(calc(48vh)) rotate(12deg) translateY(-50%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(0) translateY(-50%);
    opacity: 1;
    @media (max-height: 730px) {
      transform: translateX(0) rotate(0) translateY(-30%);
    }
  }
}
@keyframes rectMovementFromRight {
  0% {
    transform: translateX(calc(48vh)) rotate(12deg) translateY(-50%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(0) translateY(-50%);
    opacity: 1;
    @media (max-height: 730px) {
      transform: translateX(0) rotate(0) translateY(-30%);
    }
  }
}
@media (max-height: 730px) {
  @-webkit-keyframes rectMovementFromRight {
    0% {
      transform: translateX(calc(48vh)) rotate(12deg) translateY(-30%);
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      transform: translateX(0) rotate(0) translateY(-30%);
      opacity: 1;
    }
  }
  @keyframes rectMovementFromRight {
    0% {
      transform: translateX(calc(48vh)) rotate(12deg) translateY(-30%);
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      transform: translateX(0) rotate(0) translateY(-30%);
      opacity: 1;
    }
  }
}
@-webkit-keyframes rectMovementRight {
  0% {
    transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(0) translateY(-50%);
    opacity: 1;
    @media (max-height: 730px) {
      transform: translateX(0) rotate(0) translateY(-30%);
    }
  }
}
@keyframes rectMovementRight {
  0% {
    transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(0) translateY(-50%);
    opacity: 1;
    @media (max-height: 730px) {
      transform: translateX(0) rotate(0) translateY(-30%);
    }
  }
}
@media (max-height: 730px) {
  @-webkit-keyframes rectMovementRight {
    0% {
      transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
    }
    40% {
      opacity: 1;
    }
    100% {
      transform: translateX(0) rotate(0) translateY(-30%);
      opacity: 1;
    }
  }
  @keyframes rectMovementRight {
    0% {
      transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
    }
    40% {
      opacity: 1;
    }
    100% {
      transform: translateX(0) rotate(0) translateY(-30%);
      opacity: 1;
    }
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slide-wrapper {
  opacity: 0;
  transition-delay: 1.4s;
  transition-duration: 0s;
  transition-property: opacity;
  will-change: opacity, transform;
}
.slide-wrapper:not(.active) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: slideLeft;
          animation-name: slideLeft;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
          animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
  pointer-events: none;
}
.slide-wrapper:not(.active) .slide-content-text > p,
.slide-wrapper:not(.active) .slide-side-text {
  -webkit-animation-name: cutTextUp;
          animation-name: cutTextUp;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.slide-wrapper:not(.active) .slide-rect {
  -webkit-animation-name: rectMovement;
          animation-name: rectMovement;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.slide-wrapper.active {
  transition-delay: 0s;
  opacity: 1;
}
.slide-wrapper.active .slide-content-text > p {
  opacity: 0;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-name: cutTextDown;
          animation-name: cutTextDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.slide-wrapper.active .slide-rect {
  opacity: 0;
  -webkit-animation-name: rectMovementFromRight;
          animation-name: rectMovementFromRight;
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.is-previous .slide-wrapper:not(.active) {
  -webkit-animation: none;
          animation: none;
}
.is-previous .slide-wrapper:not(.active) .slide-rect {
  -webkit-animation: none;
          animation: none;
}
.is-previous .slide-wrapper.active {
  transform: translateX(-100%);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
          animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
}
.is-previous .slide-wrapper.active .slide-rect {
  opacity: 0;
  -webkit-animation-name: rectMovementRight;
          animation-name: rectMovementRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.first-load .slide-wrapper.active .slide-side-text,
.first-load .slide-wrapper.active .slide-content-cta,
.first-load .slide-wrapper.active .slide-rect,
.first-load .controls-container {
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
.first-load .slide-wrapper.active .slide-content-text > p {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}


@media (max-width: 1280px) {
.controls-container{
  width: 500px;
}

}