@font-face {
  font-family: 'GameOfSquids';
  src: url('../fonts/GameOfSquids-1GMVL.ttf') format('truetype');
}

a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'GameOfSquids', sans-serif;
    color: white;
    background: linear-gradient(-230deg, #931766, #0E50A8);

}

/*****===== HEADER =====****/
header{
    height: 100vh;
    width: 100%;
}

/*****====== NAV ====*****/
nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;

  
}

/*******sq-game****/
.sq-game{
    width: 300px;
    font-size: 10px;
    position: absolute;
    margin-top: 100px;
    margin-left: 30px;
    color: white;
}

/***** card ***/
.card{
    position: absolute;
    margin-top: 350px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 2s infinite;
 
}

.card img{
    width: 200px;
}

/****==== LOGO   ====*/
.logo{
    padding-left: 30px;
}

.logo img {
    width: 100px;
}

/*===== MENU *===*/
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.list{
    list-style: none;
    color: white;
    transition: all 0.5s ease-in-out;
}

.menu .list:hover{
    color: #0dacd4;
    text-decoration: underline;

}


/****===== SQUID LOGO *===*/
.squid-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 80%;
}

.logo-name{
    margin-left: 700px;
    margin-right: 100px;
}

.logo-name img{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}


/****group-team***/
.group-team{
    margin-top: -50px;
    margin-left: 50px;
}

.group-team img{
    width: 200px;
    margin-top: -10px;
}

.team-p{
    position: absolute;
    transform: rotate(-90deg);
    color: white;
    font-weight: 900;
    font-size: 10px;
    margin-left: -70px;
    margin-top: 40px;
}


/****** SECTION ****/
.section{
    width: 100%;
    height: 100vh;
}

/**** GAMES ****/
#games-all{
    width: 100%;
    height: 100vh;
}

.game-title{
position: absolute;
width: 100%;
text-align: center;
margin-top: 200px;
margin-left: 0px;
text-decoration: underline;
font-size: 20px;
transform: rotate(-30deg);
}

.games{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}

/***** RED GREEN*/
.name-detail{
    margin-left:250px;
    margin-top: 50px;
    z-index: 2;
}

.red-green-light{
    display: flex;
    align-items: center;
}

.red-green-light img{
    width: 180px;
    z-index: 2;
    margin-top: -60px;
    margin-left: 60px;
    position: absolute;
}

.red, .green{
    letter-spacing: 10px;
    font-size: 15px;
}

.red{
    margin-top: 150px;
}

.green{
    margin-left: 80px;
    margin-bottom: 10px;
}

.details{
    width: 300px;
    font-size: 10px;
    margin-bottom: 30px;
}

.play{
    color:white;
    text-decoration: none;
    border: 2px double solid white;
    border-style: double;
    border-radius: 50px;
    padding: 10px;
    transition: all 0.5s  ease-in-out;
}

.play:hover{
    border-color: rgb(10, 10, 10);
    color: rgb(7, 7, 7);

}

.doll-bg{
    width: 300px;
    height: 300px;
    background: linear-gradient(#AA2AD1,#C35454);
    position: absolute;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    margin-left: 230px;
    margin-top: 280px;
    filter: blur(5px);
    animation: zoom 3s infinite;
}

/****** DALGONA  ****/
.dalgona img{
    width: 300px;
    margin-left: 40px;
}

.dalgona-details{
    width: 300px;
    font-size: 10px;
    margin-bottom: 20px;
    margin-left: 38px;
}

.dalgona-name{
    position: absolute;
    transform: rotate(-90deg);
    margin-left: -70px;
    margin-top: 55px;
    letter-spacing: 9px;
}

.play-dal{
    position: absolute;
    color: white;
    text-decoration: none;
    border: 2px double solid white;
    border-style: double;
    border-radius: 50px;
    padding: 10px;
    transform: rotate(-90deg);
    margin-top: -120px;
    margin-left: 28px;
    transition: all 0.5s ease-in-out;
}

.play-dal:hover{
    border-color: rgb(10, 10, 10);
    color: rgb(7, 7, 7);

}



.mar img{
    width: 40px;
}

/******death****/
.death{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
    gap: 40px;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        transition: all ease 2s;
        opacity: 0.5;
    }

    50%{
        opacity: 1;
    }
}

.death img{
    width: 50px;
}

/***contact***/
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 600px;
    margin-bottom: -50px;
}

.contact h1{
    position: absolute;
    left: 0;
    margin-top: -400px;
    margin-left: 50px;
    color: white;
}

.contact p{
    color: white;
    font-size: 10px;
    margin-top: -250px;
    margin-left: 100px;
}

form{
    width: 550px;
    box-shadow: 0 0 20px black;
    height: 300px;
    background: transparent;
    color: white;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form input{
    background: transparent;
    border-left: none;
    border-right: none;
    margin-left: 300px;
    border-bottom: 2px solid white;
    border-top: none;
    color: white;
    outline: none;
    padding-bottom: 5px;
}

.submit{
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
    outline: none;
    font-family: 'GameOfSquids', sans-serif;
    font-size: 10px;
    margin-top: 20px;
    margin-left: 400px;
    border-left: 1px solid;
    border-right: 1px solid;
    transition: all ease-in-out 0.5s;
    margin-bottom: -90px;
}

.submit:hover{
    border-left: 5px solid black;
    color: black;
    border-right: 5px solid black;
}

form input::placeholder{
    color: white;
    font-family: 'GameOfSquids', sans-serif;
    font-size: 10px;
}

.contact-1{
    position: absolute;
}

/****line ***/
.line{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 5px;
    margin-bottom: -50px;
    text-shadow: 0px 1px 5px rgb(12, 12, 12);
}


/*****footer ***/
footer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

footer img{
    width: 300px;
    text-shadow:inset 0 0 20px ;
    position: absolute;
    margin-top: -100px;
}


.Social-media{
    position: absolute;
    margin-right: 1000px;
    margin-top: 400px;
  display: flex;
  justify-content: center;
}
.social-list{
  display: flex;
  color: white;
  height: 45px;
  width: 45px;
  margin: 0 15px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-shadow: 0px 0px 20px  rgba(255,255,255,0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  transition: transform 0.5s
}
.social-list i{

  transition: transform 0.5s;
}
.social-list:hover{
  box-shadow:inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                    -0.5px -0.5px 0px -1px rgba(255,255,255,1),
                    0.5px 0.5px 0px rgba(0,0,0,0.15),
                    0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(255, 0, 0, 0.1);
  transform: translateY(2px);
}
.social-list:hover i{
  transform: scale(0.90);
}
.social-list:hover .fa-facebook{
  color: #aeb0b5;
}
.social-list:hover .fa-twitter{
  color: #00acee;
}
.social-list:hover .fa-whatsapp{
  color: #4fce5d;
}
.social-list:hover .fa-instagram{
  color: #f14843;
}
.social-list:hover .fa-youtube{
  color: #f00;
}


/****** footer lst***/

.footer{
    position: absolute;
    margin-left: 1200px;
    margin-top: 150px;
}

#footer-lists{
    list-style: none;
    margin-top: 20px;

    a{
        color: white;
        transition: all ease 0.5s;
    }

    a:hover{
        color: black;
    }
}

.footer-list1{
    margin-left: 20px;
}

.footer-list2{
    margin-left: 40px;
}

.footer-list3{
    margin-left: 60px;
}

/*****newwwsss***/
.about-h{
    position: absolute;
    letter-spacing: 20px;
    transform: rotate(90deg);
    margin-top: 160px;
    margin-left: -50px;
}

.about-p
{
    width: 450px; position: absolute; font-size: 10px; margin-left: 200px; margin-top: 100px;
}

.premise{
    position: absolute; 
    font-size: 15px;
    margin-top: 300px; 
    margin-left: 600px;
}

.premise-p{
    position: absolute; 
    font-size: 10px; 
    margin-left: 600px; 
    margin-top: 350px; 
    width: 450px;
}

.whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.apple{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#iconss{
    color: white;
    border: 5px solid white;
    border-style: double;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-paragraph{
    font-size: 10px;
    color: white;
}

/***** responsive ****/
@media (max-width: 1280px) {

   
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo img{
        width: 60px;
    }

    .list{
        font-size: 15px;
    }

    .logo-name img{
        width: 400px;
        margin-top: -200px;
    }

    .team img{
        margin-top: -150px;
    }

    .card img{
        width: 150px;
    }

    .group-team img{
        width: 150px;
        margin-top: -50px;
    }

    .team-p{
        font-size: 10px;
        margin-top: -10px;
    }

    .about-h{
        position: absolute;
        letter-spacing: 20px; 
        transform: rotate(90deg); 
        margin-top: 160px; 
        font-size: 25px;
        margin-left: -50px;
    }

    .about-p{
        width: 400px; 
        position: absolute; 
        font-size: 10px; 
        margin-left: 120px; 
        margin-top: 100px;
    }

    .premise{
    position: absolute; 
    font-size: 12px;
    margin-top: 300px; 
    margin-left: 500px;
    }

    .premise-p{
    position: absolute; 
    font-size: 10px; 
    margin-left: 500px; 
    margin-top: 330px; 
    width: 400px;
    }

    .multiSlide {
    width: 470px;
    height: 470px;
    position: relative;
    margin-left: 500px;    
    overflow: hidden;
    -webkit-perspective: 300px;
    }

    /**** GAMES ****/
    #games-all{
    width: 100%;
    height: 100vh;
    }

    .game-title{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 200px;
    margin-left: -20px;
    text-decoration: underline;
    font-size: 20px;
    transform: rotate(-30deg);
    }

    .games{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
    }

    /***** RED GREEN*/
    .name-detail{
    margin-left:100px;
    margin-top: 50px;
    z-index: 2;
    }

    .red-green-light{
    display: flex;
    align-items: center;
    }

    .red-green-light img{
    width: 180px;
    z-index: 2;
    margin-top: -60px;
    margin-left: -70px;
    position: absolute;
    }

    .red, .green{
    letter-spacing: 10px;
    font-size: 15px;
    }

    .red{
    margin-top: 150px;
    }

    .green{
    margin-left: 80px;
    margin-bottom: 10px;
    }

    .details{
    width: 300px;
    font-size: 10px;
    margin-bottom: 30px;
    }

    .play{
    color:white;
    text-decoration: none;
    border: 2px double solid white;
    border-style: double;
    border-radius: 50px;
    padding: 10px;
    transition: all 0.5s  ease-in-out;
    }

    .play:hover{
    border-color: rgb(10, 10, 10);
    color: rgb(7, 7, 7);

    }

    .doll-bg{
    width: 300px;
    height: 300px;
    background: linear-gradient(#AA2AD1,#C35454);
    position: absolute;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    margin-left: 80px;
    margin-top: 280px;
    filter: blur(5px);
    animation: zoom 3s infinite;
    }

    /****** DALGONA  ****/
    .dalgona img{
    width: 300px;
    margin-left: 20px;
    }

    .dalgona-details{
    width: 300px;
    font-size: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    }

    .dalgona-name{
    position: absolute;
    transform: rotate(-90deg);
    margin-left: -90px;
    margin-top: 55px;
    letter-spacing: 9px;
    }

    .play-dal{
    position: absolute;
    color: white;
    text-decoration: none;
    border: 2px double solid white;
    border-style: double;
    border-radius: 50px;
    padding: 10px;
    transform: rotate(-90deg);
    margin-top: -120px;
    margin-left: -10px;
    transition: all 0.5s ease-in-out;
    }

    .play-dal:hover{
    border-color: rgb(10, 10, 10);
    color: rgb(7, 7, 7);

    }

    /***contact***/

    .contact h1{
    position: absolute;
    left: 0;
    margin-top: -400px;
    margin-left: 50px;
    font-size: 25px;
    color: white;
    }

    .contact p{
    color: white;
    font-size: 10px;
    margin-top: -250px;
    margin-left: 100px;
    }

    form{
    width: 550px;
    box-shadow: 0 0 20px black;
    height: 300px;
    background: transparent;
    color: white;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }


    /****line ***/
    .line{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 5px;
    margin-bottom: -50px;
    text-shadow: 0px 1px 5px rgb(12, 12, 12);
    width: 90%;
    }

    .footer{
    margin-left: 1100px;
    }


}
@media (max-width: 800px) {

}