<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squid Game</title>
</head>
<link rel="stylesheet" href="../css/responsive.css">

<link rel="stylesheet" href="../css/style.css">

<link rel="stylesheet" href="../css/season.css">

<!--------- PLAYER CSS----------------->
<link rel="stylesheet" href="../css/player.css">

<!---------------- KEYFRAME --------------------->
<link rel="stylesheet" href="../css/keyframe.css">

<!---------------- LINK FONTAWSOME --------------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>

    <!-------------HEADER --------------->
    <header>

        <!---------- NAV -------------->
        <nav>

            <!---------- LOGO -------------->
            <div class="logo">
                <img src="../images/logo.png" alt="3 symbol logo">
            </div>

            <!---------- MENU -------------->
            <ol class="menu">
                <a href=""><li class="list">Home</li>  </a>
                <a href=""><li class="list">About</li> </a>
                <a href="#games-all"><li class="list">Games</li> </a>
                <a href=""><li class="list">Product</li> </a>
                <a href=""><li class="list">Contact</li> </a>
            </ol>

        </nav>
        

        <div class="sq-game">
            <p>Squid Game is a South Korean dystopian survival thriller where 456 financially desperate individuals compete in deadly children's games for a chance to win a massive cash prize. The series, created by Hwang Dong-hyuk, gained global popularity on Netflix for its suspenseful plot, social commentary, and exploration of human nature under extreme pressure. The title refers to a Korean children's game, "ojingeo," which is also incorporated into the storyline</p>
        </div>

        <div class="card">
            <img src="../images/card.png" alt="">
        </div>

        <!---------- SQUIDGAME -------------->
        <div class="squid-logo">

            <!---------- logo-name -------------->
            <div class="logo-name">
            <img src="../images/sq-logo.png" alt="squid 2" class="">
            </div>

            <!---------- team -------------->
            <div class="team">
                <img src="../images/group.png" alt="">
            </div>

        </div>

            <!---------- group-team -------------->
        <div class="group-team">
            <span class="team-p">GROUP OF SQUAD</span>
            <img src="../images/team-logo.png" alt="">
        </div>

    </header>

    <marquee direction="right" class="mar">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">

</marquee>
    
 <marquee direction="left" class="mar">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">

  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
  <img src="../images/death.png" alt="">
</marquee>
    
   
    <!---------- sectiom -------------->
    <section class="section">

    <h1 class="about-h">ABOUT</h1>
    <p class="about-p">"Squid Game" is a South Korean survival
     drama series about 456 deeply indebted 
     individuals who compete in a series of 
     deadly children's games for a massive 
     cash prize. The series, created by 
     Hwang Dong-hyuk, explores themes of
     desperation, social inequality, and
     the corrupting influence of wealth
    </p>

       <h1 class="premise">The Premise:</h1>

       <p class="premise-p">
            The series revolves around Seong Gi-hun, 
            a financially struggling man who is invited
             to participate in a mysterious competition.
              He and 455 other players, all facing dire 
              financial circumstances, are lured into 
              playing deadly versions of classic Korean
               children's games. 
      </p>

         <figure id="multiSlide" class="multiSlide"></figure>
<nav id="multiSlideNav" class="multiSlideNav">
 
</nav>

  <!--------------- MOVIE ------------------>
<!-- partial:index.partial.html -->
<div id="app" class="wrapper" v-cloak v-bind:class="{'is-previous': isPreviousSlide, 'first-load': isFirstLoad}">
            <div class="slide-wrapper" 
                 v-for="(slide, index) in slides" 
                 v-bind:class="{ active: index === currentSlide }"
                 v-bind:style="{ 'z-index': (slides.length - index), 'background-image': 'url(' + slide.bgImg + ')' }">
                <div class="slide-inner">
                    <div class="slide-bg-text">
                        <p>{{ slide.headlineFirstLine }}</p>
                        <p>{{ slide.headlineSecondLine }}</p>
                    </div>
                    <div class="slide-rect-filter">
                        <div class="slide-rect" v-bind:style="{'border-image-source': 'url(' + slide.rectImg + ')'}"></div>
                    </div>
                    <div class="slide-content">
                        <h1 class="slide-content-text"><p>{{ slide.headlineFirstLine }}</p><p>{{ slide.headlineSecondLine }}</p></h1><a class="slide-content-cta" href="../movie/index.html">Click Here</a></div>
                    <h2 class="slide-side-text"><span>{{ slide.sublineFirstLine }} / </span><span>{{ slide.sublineSecondLine }}</span></h2></div>
            </div>
        <div class="controls-container">
            <button class="controls-button" 
                    v-for="(slide, index) in slides"
                    v-bind:class="{ active: index === currentSlide }"
                    v-on:click="updateSlide(index)">{{ slide.headlineFirstLine }} {{ slide.headlineSecondLine }}</button>
        </div>
        <div class="pagination-container">
            <span class="pagination-item"
                  v-for="(slide, index) in slides"
                  v-bind:class="{ active: index === currentSlide }"
                  v-on:click="updateSlide(index)"></span>
        </div>
    </div>


    </section>

    <!---------- GAMES -------------->
    <div id="games-all">

            <h1 class="game-title">Let's play game </h1>

            <div class="doll-bg"></div>

        <div class="games">

        <div class="red-green-light">
            <img src="../images/doll.png" alt="doll">

            <div class="name-detail">
                <span class="red-green">
                <h1 class="red">RED LIGHT </h1>
                <h1 class="green">GREEN LIGHT</h1>
            </span>

            <p class="details">Red Light, Green Light, players advance
                               towards a finish line while the robotic doll,
                                Young-hee, says "Green Light" and must 
                               freeze when she says "Red Light". If any 
                               player is caught moving during "Red Light,
                               " they are eliminated. The first player to
                                reach the finish line without being 
                               eliminated wins
            </p>

            <a href="../red-green/index.html" class="play">PLAY NOW</a>

            </div>
        </div>

        <div class="dalgona">

            <div class="dalgona-details">
                <h1 class="dalgona-name">DALGONA</h1>
                <p class="dalgona-details"> 
                    Dalgona challenge, players must carefully
                     carve out a shape from a brittle honeycomb
                      candy (Dalgona) using a needle, without 
                      breaking the candy or taking too long.
                       Failure to do so results in elimination
                        (death). The shapes include a circle, 
                        triangle, star, and umbrella, with the 
                        triangle being considered the easiest 
                        and the umbrella the most difficult
                </p>

            </div>

            <img src="../images/dal.png" alt="">

            <a href="dalgona.html" class="play-dal">PLAY NOW</a>

        </div>

    </div>

    <div class="death">
        <img src="../images/death.png" alt="">
        <img src="../images/death.png" alt="">
        <img src="../images/death.png" alt="">
        <img src="../images/death.png" alt="">
        <img src="../images/death.png" alt="">
        <img src="../images/death.png" alt="">
        <img src="../images/death.png" alt="">
        <img src="../images/death.png" alt="">
        <img src="../images/death.png" alt="">
        <img src="../images/death.png" alt="">
        <img src="../images/death.png" alt="">
        <img src="../images/death.png" alt="">
    </div>
    </div>


<!-------------- CONTACT ----------------------->
<div class="contact">

    <h1>C o n t a c t</h1>
    <p>Feel Free to contact us any time. 
        We will get back to you as soon as we can!.
    </p>

    <div class="apple" style="position: absolute; margin-left: -1000px;">

        <div class="whatsapp">
            <i class="fa-solid fa-envelope" id="iconss"></i>
             <span class="contact-paragraph">user@gmail.com</span>
        </div>

        <div class="whatsapp" style="margin-left: -20px;">
            <i class="fa-brands fa-whatsapp" id="iconss"></i>
             <span class="contact-paragraph">333-333-333</span>

        </div>

        <div class="whatsapp" style="margin-left: 80px;">
            <i class="fa-brands fa-telegram" id="iconss"></i>
             <span class="contact-paragraph">https://t.me/yourusername</span>

        </div>

    </div>


    <form action="">
        <img src="../images/team-logo.png" alt="" style="width: 250px; position: absolute; margin-left: -200px; ">

        <input type="text" placeholder="Name" required>
        <input type="text" placeholder="Email" required>
        <input type="text" placeholder="Phone Number" required>
        <input type="submit" class="submit">
    </form>

</div>

<span class="line">
    <p>
        ---------------------------------------------------------> x <---------------------------------------------------------
    </p>

    <p>
        ---------------------------------------------------------> x <---------------------------------------------------------
    </p>

    </span>

<!--------------- FOOTER -------------------------->
    <footer>

        <img src="../images/sq-logo.png" alt="">

        
        <div class="sq-game" style="margin-left: -1100px; margin-top: -50px;">
            <p>Squid Game is a South Korean dystopian survival thriller where 456 financially desperate individuals compete in deadly children's games for a chance to win a massive cash prize. The series, created by Hwang Dong-hyuk, gained global popularity on Netflix for its suspenseful plot, social commentary, and exploration of human nature under extreme pressure. The title refers to a Korean children's game, "ojingeo," which is also incorporated into the storyline</p>
        </div>

          <div class="Social-media">
      <a href="#" class="social-list"><i class="fab fa-facebook"></i></a>
      <a href="#" class="social-list"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-list"><i class="fab fa-whatsapp"></i></a>
      <a href="#" class="social-list"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-list"><i class="fab fa-youtube"></i></a>
    </div>
           

        <span style="font-size: 10px; margin-top: 400px;">All Right Reserved @ 2025 | studiesmail </span>

        <ul class="footer">
            <li id="footer-lists" class="footer-list0"><a href="">Home</a></li>
            <li id="footer-lists" class="footer-list1"><a href="">About</a></li>
            <li id="footer-lists" class="footer-list2"><a href="">Games</a> </li>
            <li id="footer-lists" class="footer-list3"><a href="">Product</a></li>
        </ul>

    </footer>

    


  



  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js'></script> 
  <script src="../script/script.js"></script>  
  <script src="../script/movie.js"></script>  

</body>
</html>